* {
  box-sizing: border-box;
}

html {
  text-align: center;
}

body {
  font-family: Noto Sans, Segoe UI, Helvetica, sans-serif;
  font-size: 88%;
  text-align: center;
  color: black;
  min-width: 350px;
}
@media screen {
  body {
    margin: 0;
    padding: 0;
    background: #ccc;
  }
}
@media print {
  body {
    font-size: 108%;
  }
}
@media (min-width: 1000px) {
  body {
    min-width: 980px;
    display: inline-block;
    margin: 15px;
  }
}

footer {
  font-size: 85%;
  background: white;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #3D3D3D;
}
@media print {
  footer {
    display: none;
  }
}


input, textarea, select {
  font-size: inherit;
  font-family: inherit;
  font-size: 115%;
  padding: 0.2em;
}

input[type="checkbox"] {
  width: auto ! important;
}

input:read-only, textarea:read-only, .readOnly {
  color: #515151;
}



ol, ul {
  margin: 0;
  padding-left: 1.2em;
  text-align: left;
}

p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 120%;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.5em;
}

a, a:visited, button.linkButton, button.inlineLinkButton {
  color: #336699;
  text-decoration: none;
}

a:hover, button:hover.linkButton, button:hover.inlineLinkButton {
  text-decoration: underline;
}


form {
  display: inline;
}

button {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
  min-width: 160px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  font-size: 100%;
}

button.saveButton {
  background: #3AA842;
  color: white;
}

button.deleteButton {
  background: firebrick;
  color: white;
}

button.linkButton, button.inlineLinkButton {
  background: none;
  border: none;
}

button.inlineLinkButton {
  display: inline;
  padding: 0;
  margin: 0;
  min-width: 0;
}

button:hover {
  opacity: 0.85;
}

button:disabled {
  opacity: 0.7;
  color: grey;
}


table {
  border-collapse: collapse;
}

table.border {
  margin: 2px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1000px) {
  table.border {
    font-size: 85%;
  }
}

table.border th, table.border td {
  border: 1px solid #A8A8A8;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
@media print {
  table.border th, table.border td {
    border-color: #707070;
  }
}

table.border th {
  text-align: center;
  font-weight: bold;
  background: #E8E8E8;
}

table.border td {
  text-align: left;
}

table.border tr:hover {
  background: #FFF696;
}

table.border td.integer {
  text-align: right;
}

table.border td.timestamp {
  text-align: center;
}

table.border td.null {
  text-align: center;
  color: grey;
}


.redText, .seatsInfo .noFreeSeats {
  color: firebrick;
  font-weight: bold;
}

.errorBox {
  display: inline-block;
  padding: 10px;
  color: #D80000;
  border: 2px solid #D80000;
}

.okBox {
  display: inline-block;
  background: lime;
  padding: 15px;
}



.headerOuter {
  background: #336699;
}
@media print {
  .headerOuter {
    display: none;
  }
}
.header {
  position: relative;
  height: 5.7em;
}
@media (min-width: 1000px) {
  .header {
    font-size: 120%;
  }
  .headerOuter {
    padding-left: 15px;
  }
}

#autoReloadIndicator {
  color: white;
  position: absolute;
  right: 4px;
  top: 0;
  padding: 8px;
  font-size: 80%;
  opacity: 0.7;
  cursor: default;
  display: none;
  transition: all 0.5s ease;
}
#autoReloadIndicator.active {
  opacity: 0.85;
}
#autoReloadIndicator.offline {
  text-decoration: line-through;
  opacity: 1;
}


.header .title {
  font-size: 160%;
  font-weight: bold;
  color: white;
  margin-top: 0.9em;
  display: inline-block;
  padding: 0.3em;
}

.header .title.nonProdInstance {
  color: #FF3232;
}

.navBar {
  background: white;
  padding-top: 5px;
}
@media print {
  .navBar {
    display: none;
  }
}

.navBar > a {
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.pageTitleOuter {
  background: white;
  padding-bottom: 8px;
}
@media (min-width: 1000px) {
  .pageTitleOuter {
    padding-bottom: 13px;
  }
}

.pageTitle {
  padding: 3px;
  padding-top: 7px;
  font-size: 150%;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.textBlock {
  text-align: left;
  line-height: 140%;
}
@media (min-width: 1000px) {
  .textBlock {
    line-height: 150%;
  }
}

.textBlock, .content.mainPage > div > div {
  max-width: 600px;
  display: inline-block;
}

.preWrapped {
  white-space: pre-wrap;
}


.framedBox {
  border: 1px solid lightgrey;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  background: white;
  margin-top: 6px;
}
@media (min-width: 1000px) {
  .framedBox {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 13px;
    padding-bottom: 13px;
  }
}

.framedBoxTitle {
  position: absolute;
  left: 10px;
  top: -0.75em;
  background: white;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 90%;
}


.content {
  background: white;
  padding: 5px;
}
@media screen {
  .content {
    overflow: auto;
  }
}
@media (min-width: 1000px) {
  .content {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
  }
}

.content > div.textBlock {
  padding-left: 7px;
  padding-right: 7px;
}

.content.mainPage > div {
  padding-top: 7px;
  padding-bottom: 7px;
}
.content.mainPage > div:first-child {
  padding-top: 2px;
}
@media (min-width: 1000px) {
  .content.mainPage > div:first-child {
    padding-top: 5px;
  }
}
.content.mainPage > div:last-child {
  padding-bottom: 0;
}

.content.mainPage > div > div {
  width: 100%;
}

.content.mainPage .event > div {
  width: 100%;
}

.content.mainPage .event.canceled > * {
  opacity: 0.5;
}

.content.mainPage .event.canceled .titleAndDate {
  text-decoration: line-through;
}

.content.mainPage .event.bookingClosed > * {
  opacity: 0.5;
}

.content.mainPage .event .titleAndDate {
  font-size: 135%;
}
@media (min-width: 1000px) {
  .content.mainPage .event .titleAndDate {
    font-size: 150%;
    padding-bottom: 3px;
  }
}

.content.mainPage .event > div.textBlock > div {
  line-height: 155%;
}

.content.mainPage .seatsInfo {
  position: relative;
  text-align: left;
}

.content.mainPage .seatsInfo .capacityBar {
  position: absolute;
  right: -5px;
  top: 5px;
}
.content.mainPage .seatsInfo .capacityBar > div {
  outline: 1px solid black;
  margin-right: 10px;
}
.content.mainPage .seatsInfo .capacityBar > div > div {
  background: darkgrey;
  height: 10px;
}

.content.mainPage .bookingStatus, .content.mainPage .saveBookingForm {
  padding-top: 10px;
}

.content.mainPage .bookingStatus {
  text-align: center;
}

.content.mainPage .bookingStatus > div {
  display: inline-block;
  text-align: left;
  min-width: 150px;
}

.content.mainPage .bookingStatus span.myBookingTitle {
  font-weight: bold;
}

.content.mainPage .event .notice {
  margin-bottom: 5px;
}

.content.mainPage > div > div.saveBookingFormOpened .saveBookingFormPlaceholder, .content.mainPage > div > div.saveBookingFormOpened .bookingStatus {
  display: none;
}
.content.mainPage > div > div:not(.saveBookingFormOpened) .saveBookingForm {
  display: none;
}

.content.mainPage > div > div.cancelBookingFormOpened .cancelBookingFormPlaceholder {
  display: none;
}
.content.mainPage > div > div:not(.cancelBookingFormOpened) .cancelBookingForm {
  display: none;
}

.content.mainPage .cancelBookingFormPlaceholder button {
  margin: 0;
  padding: 0;
  min-width: 0;
}

.content.mainPage .saveBookingForm > form > div:not(.cookieInfo) {
  white-space: nowrap;
  overflow-x: hidden;
}

.content.mainPage .saveBookingForm div input {
  width: 47%;
  margin: 5px;
}

.content.mainPage .saveBookingForm .formTitle {
  font-weight: bold;
  text-align: left;
  padding: 5px;
  padding-left: 7px;
}
@media (min-width: 1000px) {
  .content.mainPage .saveBookingForm .formTitle {
    padding-left: 13px;
  }
}

.content.mainPage .saveBookingForm .phoneNumberLabel {
  display: inline-block;
  width: 47%;
  margin-right: 12px;
  text-align: right;
}

.content.mainPage .saveBookingForm .cookieInfo {
  text-align: left;
  padding-top: 5px;
}
@media (min-width: 1000px) {
  .content.mainPage .saveBookingForm .cookieInfo {
    padding-left: 13px;
  }
}

.content.mainPage .saveBookingForm button {
  margin-top: 10px;
}


.content.helpPage .debugInfo {
  font-size: 80%;
  margin-top: 3em;
  line-height: 135%;
}


.content.adminPage > ul {
  display: inline-block;
  padding-bottom: 20px;
  text-align: left;
  list-style: none;
  min-width: 180px;
}
.content.adminPage > ul > li > a {
  padding: 5px;
  display: inline-block;
}


.content.visitorList button {
  margin-top: 0;
  margin-bottom: 15px;
}
@media print {
  .content.visitorList button {
    display: none;
  }
}
.content.visitorList .subTitle {
  padding-bottom: 4px;
}
@media screen {
  .content.visitorList .currentDate {
    display: none;
  }
}
.content.visitorList > table {
  margin-top: 7px;
}
@media screen {
  table.border tr.empty {
    display: none;
  }
}
@media print {
  .content.visitorList table {
    font-size: 90%;
  }
  .content.visitorList table.border th, .content.visitorList table.border td {
    padding-left: 0.7em;
    padding-right: 0.7em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }
  .content.visitorList td.name {
    min-width: 25em;
  }
  .content.visitorList td.phoneNumber {
    min-width: 15em;
  }
  .content.visitorList td.bookingInfo {
    min-width: 10em;
  }
}


.content.bookingSimulator > form > div {
  padding-top: 5px;
  padding-bottomo: 5px;
}

.content.bookingSimulator > form > div > span {
  display: inline-block;
  min-width: 16em;
  text-align: left;
}

.content.bookingSimulator > form > div > input {
  width: 6em;
}



div.itemList button {
  margin-bottom: 10px;
}

div.itemList td {
  max-width: 25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.itemDetails {
  display: inline-block;
}

div.itemDetails td {
  border-bottom: 1px solid #A8A8A8;
}
div.itemDetails tr:last-child td {
  border-bottom: none;
}

div.itemDetails td {
  text-align: left;
  padding-top: 7px;
  padding-bottom: 7px;
}
@media (min-width: 700px) {
  div.itemDetails td {
    min-width: 8em;
  }
}

div.itemDetails td:first-child {
  padding-right: 15px;
}

div.itemDetails td:first-child > span.mandatory {
  padding-left: 0.2em;
  color: red;
}

div.itemDetails input, div.itemDetails textarea, div.itemDetails select {
  width: 15em;
}
@media (min-width: 700px) {
  div.itemDetails input, div.itemDetails textarea, div.itemDetails select {
    width: 30em;
  }
}
div.itemDetails textarea {
  height: 8em;
}
div.itemDetails td.timestamp.minute input, div.itemDetails td.integer input {
  width: 9em;
}

div.itemDetails.editingFormOpened > div.view {
  display: none;
}
div.itemDetails:not(.editingFormOpened) > form {
  display: none;
}

div.itemDetails > form button {
  margin-top: 10px;
}

span.noItems {
  display: inline-block;
  padding: 30px;
}



